body, html {
  overflow: hidden;
  font-family:Arial,Helvetica,sans-serif;
}

#navbar {
	min-height: 75px;
	width: 100%;
	padding-bottom: 0px;
  float: top;
  position: absolute;
  top: 0;
  left: 0;
  margin:0;
  padding:0px 0;
  z-index: 1002;
  background:#4C4C4C;
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.15);
   -webkit-transition: all 0.4s linear;
   -moz-transition: all 0.4s linear;
   -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

#logo {
  float: left;
  padding-top: 7px;
  padding-left: 10px;
}

#navigation {
  min-height: 100%;
  width: auto;
  padding-bottom: 0px;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  margin:0;
}

#navigation #nav {
  height: 75px;
  margin-right: 20px;
  top: 0;
  margin: 0;
}

#navigation li {
  position: relative;
  float: left;
  height: 100%;
  list-style: none;
  display: inline;
}

#navigation li a {
  height:47px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 28px;
  padding-bottom: 0px;
  text-align: center;
  vertical-align: baseline;
  float: left;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  outline: none;
  list-style: none;
  display: inline;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#navigation li a:hover {
  background: #eeeeff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#navigation li a.selected{
  background: #e7e7ff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#panel_left_container {
  min-width: 250px;
  float: left;
  top: 75px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  background:#808080;
  z-index: 1000;
  color: #FFFFFF;
  box-shadow:0px 10px 10px rgba(0, 0, 0, 0.15);
   -webkit-transition: all 0.4s linear;
   -moz-transition: all 0.4s linear;
   -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.panel_left {
  position:inherit;
  height: 100%;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.panel_left h2{
  padding-top: 0px;
  padding-bottom: 10px;
  margin: 0px;
}

.panel_left h3{
  padding-top: 0px;
  padding-bottom: 10px;
  margin: 0px;

}

#page_inner {
  left: 250px;
  right: 0;
  top:75px;
  bottom: 0px;
  background:#fff;
  display: block;
  position: absolute;
}

#page_container {
  height: 100%;
  width: 100%;
}

.page {
    overflow: scroll;
  height: 100%;
  width: 100%;
}

.page h2{
  padding: 10px;
  margin: 0px;
}

.page h3{
  padding: 10px;
  margin: 0px;
}

.page p{
  padding: 10px;
  margin: 0px;
}

#map { 
  min-height: 100%;
  min-width: 100%;
}

#loading_overlay{
  width: 0px;
  overflow: hidden;
  position: absolute;
  background: rgba(64, 64, 64, .25);
  z-index: 1001;

}

#loading_overlay.loading{
  top: 75px;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

#loading_overlay img {
  position: absolute;
  padding: 15px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-radius: 5px;
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.15);
   -webkit-transition: all 0.4s linear;
   -moz-transition: all 0.4s linear;
   -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

#filter_btn, #analyse_btn, #results_btn {
  margin-top: 10px;
  height: 40px;
  width: 230px;
  background: silver;
  border: 0;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  text-shadow:0px 0px 5px #7E7E7E;
}

input[type="text"] {
  width: 100%;
}

.textbox { 
  background: silver; 
  border: 1px solid #DDD; 
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15) inset; 
  color: #666; 
  outline: none; 
  height:25px; 
}

#ui-datepicker-div {
  font-size:11px;
}

.legend {
    width: 140px;
    line-height: 18px;
    color: #555;

    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,1.0);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.legend select {
  width: 100%;
}

#legend_inner {
  padding-top: 5px;
}

#legend_unit {
  float: right;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }
#draw_buttons{
	background: white;
    background: rgba(255,255,255,1.0);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
	height: 27px;
}

#draw_buttons a {
	background-image: url('../img/spritesheet.png');
	background-repeat: no-repeat;
	width: 27px;
	height: 27px;
	white-space: nowrap;
	display: inline-block;
	line-height: 27px;
}

#draw_buttons .leaflet-draw-draw-polygon {
	background-position: -31px -2px;
}

#draw_buttons .leaflet-draw-draw-rectangle {
	background-position: -62px -2px;
}

#draw_buttons a:hover {
	background-color: #E5E5E5;
}

#draw_buttons .leaflet-draw-edit-remove.leaflet-disabled {
	background-position: -242px -2px;
}

#draw_buttons .leaflet-draw-edit-edit.leaflet-disabled {
	background-position: -212px -2px;
}

#draw_buttons .leaflet-draw-edit-remove {
	background-position: -182px -2px;
}

#draw_buttons .leaflet-draw-edit-edit {
	background-position: -152px -2px;
}

#draw_buttons .leaflet-draw-actions a {
	background-image: none;
	background-color: #919187;
	border-left: 1px solid #AAA;
	color: #FFF;
	font: 11px/19px "Helvetica Neue", Arial, Helvetica, sans-serif;
	line-height: 28px;
	text-decoration: none;
	padding-left: 2px;
	padding-right: 2px;
	height: 27px;
	-webkit-border-radius: 0 0 0 0;
	        border-radius: 0 0 0 0;
	width: auto;
}

#draw_buttons .leaflet-draw-actions-bottom {
	margin-top: 1px;
}

#draw_buttons.leaflet-touch .leaflet-draw-actions a {
	font-size: 12px;
	line-height: 30px;
	height: 30px;
}

#selectedAttributes, #selectedMethod{
	width: 230px;
	height: 30px;
}

#show_Track{
	margin-top: 10px;
	height: 40px;
	width: 247px;
	background: silver;
	border: 0;
	color: white;
}