body, html {
  overflow: hidden;
  font-family:Arial,Helvetica,sans-serif;
}

#navbar {
	min-height: 75px;
	width: 100%;
	padding-bottom: 0px;
  float: top;
  position: absolute;
  top: 0;
  left: 0;
  margin:0;
  padding:0px 0;
  z-index: 1001;
  background:#4C4C4C;
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.15);
   -webkit-transition: all 0.4s linear;
   -moz-transition: all 0.4s linear;
   -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

#logo {
  float: left;
  padding-top: 7px;
  padding-left: 10px;
}

#navigation {
  min-height: 100%;
  width: auto;
  padding-bottom: 0px;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  margin:0;
}

#navigation #nav {
  height: 75px;
  margin-right: 20px;
  top: 0;
  margin: 0;
}

#navigation li {
  position: relative;
  float: left;
  height: 100%;
  list-style: none;
  display: inline;
}

#navigation li a {
  height:47px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 28px;
  padding-bottom: 0px;
  text-align: center;
  vertical-align: baseline;
  float: left;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  outline: none;
  list-style: none;
  display: inline;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#navigation li a:hover {
  background: #eeeeff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#navigation li a.selected{
  background: #e7e7ff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#panel_left_container {
  min-width: 250px;
  float: left;
  top: 75px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  background:#808080;
  z-index: 1000;
  color: #FFFFFF;
  box-shadow:0px 10px 10px rgba(0, 0, 0, 0.15);
   -webkit-transition: all 0.4s linear;
   -moz-transition: all 0.4s linear;
   -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.panel_left {
  position:inherit;
  height: 100%;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

#page_inner {
  left: 250px;
  right: 0;
  top:75px;
  bottom: 0px;
  background:#fff;
  display: block;
  position: absolute;
  overflow: hidden;
}

#page_container {
  height: 100%;
  width: 100%;
}

.page {
  height: 100%;
  width: 100%;
}

.page h2{
  padding-left: 10px;
}

#map { 
  min-height: 100%;
  min-width: 100%;
}

#panel_right_container {
  min-height: 100%;
  width: 250px;
  display: block;
  float: right;
  top: 0px;
  right: -250px;
  left: 2000px;
  position: absolute;
  background:#fff;
  z-index: 1000;
  box-shadow:0px 10px 10px rgba(0, 0, 0, 0.15);
   -webkit-transition: all 0.4s linear;
   -moz-transition: all 0.4s linear;
   -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

#panel_right {
  position:inherit;
  height: 100%;
  width: 100%;
  padding: 10px;
}

#filter_btn, #analyse_btn {
  position: absolute;
  bottom: 0px;
  left:0px;
  margin: 10px;
  height: 40px;
  width: 230px;
}

input[type="text"] {
  width: 100%;
}

.textbox { 
  background: silver; 
  border: 1px solid #DDD; 
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15) inset; 
  color: #666; 
  outline: none; 
  height:25px; 
}

#ui-datepicker-div {
  font-size:11px;
}